.main-content {
	padding-bottom: 50px;
}

.middle-content, .photo-slider img,.small-images,.main-image {
	min-height: 370px !important;
}
.main-wrapper .under-menu {
	min-height: 0;
	padding-bottom: 10px;
}

.main-wrapper .under-menu:before {
	display: none;
}

.navigation-box {
	position: relative;
	margin: 0 auto;
	width: 100%;
	/* border-bottom: 1px solid #000; */
	font-size: 13px;
}

.navigation-box:after {
	content: '';
	display: block;
	height: 1px;
	background-color: #bbb;
	-webkit-animation: submenu 1s forwards;
	animation: submenu 1s forwards;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}

.navigation-box .top-nav {
	padding-top: 22px;
}


.shift-mobile-nav {
	display: none;
}

.category-list > li {
	position: relative;
	display: inline-block;
	margin-left: 24px;
}

.category-list > li a,
.category-list > li a:hover {
	color: #000;
}

.category-list > li a i:before {
	content: "\f107";
	position: absolute;
	bottom: -5px;
	right: -10px;
	opacity: 0;

	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.category-list > li a:hover i:before {
	content: "\f107";
	position: absolute;
	bottom: 3px;
	opacity: 1;
}

.category-list > li > .sub-menu {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	padding: 15px;
	margin-top: 10px;
	padding-top: 0;
	background-color: #fff;
	border: 1px solid #ccc;
	z-index: 1;
}

.sub-menu ul { 
list-style-type: none; 
padding: 0; 
}

.submenu-container {
	padding: 15px 0;
}

.category-list > li:hover > .sub-menu {
	transition: opacity 1s ease-in-out;	
	display: block;
}

.category-list > li:first-child {
	margin-left: 0;
}

.category-list .sub-menu-title { 
	display: block; 
	margin-top: 1em; 
	margin-bottom: 1em; 
	margin-left: 0; 
	margin-right: 0; 
	border-bottom: 1px solid #b0b0b0; 
	text-align: center; 
	font-size: 13px; 
	text-transform: uppercase; 
}

.category-list .tree-lists {
	width: 400px;
}

.category-list .tree-lists .column {
	padding: 0;
	padding-right: 15px;
}

.category-list .tree-lists .column:last-child {
	padding-right: 0;
}

.category-list .two-column {
	width: 200px;

	-moz-column-count: 2; /* Firefox */
  	-webkit-column-count: 2; /* Safari and Chrome */
  	column-count: 2;
}

.category-list .three-column {
	width: 350px;

	-moz-column-count: 3; /* Firefox */
  	-webkit-column-count: 3; /* Safari and Chrome */
  	column-count: 3;
}

.sub-menu-title {
	font-weight: 600;
}

.acc-bag-container a {
	position: relative;
	display: inline-block;
	margin-right: 10px;
	font-size: 10px;
	color: #333;
	text-align: center;
}

.acc-bag-container img {
	width: 20px;
	max-height: 28px;
}

.acc-bag-container span {
	display: block;
}

.acc-bag-container span.count {
	position: absolute;
	right: 0;
	top: 0;
	height: 15px;
	width: 15px;
	background-color: #ccc;
	color: #333;
	border-radius: 50%;
}

.my-account {
	display: inline-block;
}

.my-bag {
	display: inline-block;
	margin-left: 30px;
}

.main-content-footer {
	margin-top: 45px;
}

.img-preview {
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}

.small-images {
	overflow: hidden;
}

.small-images ul {
	position: relative;
	top: 0;
}

.small-images li {
	position: relative;
	cursor: pointer;
	text-align: center;
	margin-bottom: 16px;
}

.small-images li:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.small-images li:hover:before {
	-webkit-box-shadow:inset 0 0 20px 0 rgba(255, 255, 255, .75);
	box-shadow:inset 0 0 20px 0 rgba(255, 255, 255, .75);
}

.small-images li.active:before {
	border: 1px solid #bbb;
}

.small-images li:last-child {
	margin-bottom: 0;
}

.small-images li .small-photo {
	width: 100%;
	max-height: 100px;
}

.photo-slider {
	position: relative;
}


.photo-slider img {
	width: 100%;
	height: 100%;
}

.small-photo {
	min-height: 80px;
}

#glass {
	position: absolute;
	border-radius: 50%;
	box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
	display: none;
	background-repeat: no-repeat;
	background-color: rgba(0,0,0,.6);
}

.photo-slider .navigation {
	display: block;
	position: absolute;
	background-color: transparent;
	background-position: 50%;
	background-size: 10px;
	background-repeat: no-repeat;
	border: 0;
	color: #fff;
	outline: 0;
	width: 20px;
	height: 30px;
	top: 50%;
	margin-top: -15px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	opacity: 0;

	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.photo-slider:hover .navigation {
	opacity: 1;
}

.photo-slider .navigation.navigation-left {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='9' height='27' viewBox='0 0 9 27' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EC7A8410E-C44B-49D3-AFCE-253EE5EDF503%3C/title%3E%3Cpath d='M.25 13.333L0 13.81l.26.472 7 12.667 1.751-.968-7-12.667.01.949 7-13.333L7.251 0z' fill='%23000' fill-rule='evenodd'/%3E%3C/svg%3E");
	left: 10px;
}

.photo-slider .navigation.navigation-right {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='9' height='27' viewBox='0 0 9 27' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EC86BAA29-BB29-4FAF-91A8-4D37FF58E12F%3C/title%3E%3Cpath d='M7 14.263l.01-.949-7 12.667 1.75.968 7-12.667.261-.472-.25-.477L1.77 0 0 .93z' fill='%23000' fill-rule='evenodd'/%3E%3C/svg%3E");
	right: 10px;
}

.photo-slider .image-full-screen {
	position: absolute;
	display: block;
	right: 15px;
	top: 15px;
	font-size: 0;
	color: #333;
	cursor: pointer;
	opacity: 0;

	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.photo-slider:hover .image-full-screen {
	font-size: 30px;
	opacity: 1;
}

#main-modal-image {
	cursor: pointer;
	border: 3px solid #fff;
	margin-top: 40px;
}

@media (max-width: 768px) {
	.photo-slider .image-full-screen {
		display: none;
	}
	.submenu-container {
	padding: 0;
}
}

[data-modal] {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 1111;
}

[data-modal] .modal-block-content {
	background-color: #fff;
}

[data-modal] .modal__close {
	position: absolute;
	right: 25px;
	top: 20px;
	color: #ccc;
	font-size: 30px;
	cursor: pointer;
}

.article-info h1 {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 20px;
}

.select-box p,
.select-box h3 {
	padding-bottom: 8px;
	margin-bottom: 20px;
	font-size: 14px;
	border-bottom: 1px solid #b0b0b0;
	max-width: 40%;
}

.colours {
	padding-left: 0;
	list-style-type: none;
}

.colours li {
	display: inline-block;
}

.colours li label {
	display: inline-block;
	margin-left: 20px;
	height: 20px;
	width: 20px;
	overflow: hidden;
	cursor: pointer;
}

.colours li input {
	position: absolute;
	left: -9999px;
}

.colours li input:checked + label {
	border: 1px solid #ccc;
}

.colours li:first-child label {
	margin-left: 0;
}

.number-1 {
	margin-bottom: 0;
	font-size: 20px;
}
.number-2 {
	font-size: 13px;
	line-height: 10px;
}

.size {
	font-size: 20px;
}

.size-list {
	padding-left: 0;
	list-style-type: none;
}

.size-list li {
	display: inline-block;
	margin-left: 2px;
}

.size-list li input {
	position: absolute;
	visibility: hidden;
}

.size-list li label {
	position: relative;
	display: inline-block;
	padding: 0 8px;
	height: 30px;
	border: 1px solid #000;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
	font-weight: 500;
	cursor: pointer;

	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.size-list li input:checked + label {
	border-color: #74c9c4;
}

.size-list li input:disabled + label {
	color: #ccc;
	border-color: #ccc;
}

.size-list li input:disabled + label:after {
	content: "";
	position: absolute;
	left: 50%;
	margin-left: -13px;
	top: 14px;
	display: block;
	width: 26px;
	height: 1px;
    background-color: #ccc;

    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.size-list li:first-child {
	margin-left: 0;
}

.uppercase {
	text-transform: uppercase;
}

.add-to-bag {
	max-width: 250px;
	line-height: 30px;
	background-color: #75cbc8;
	text-align: center;
	cursor: pointer;

	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.add-to-bag:hover {
	background-color: #3edad3;
}


.add-to-bag {
	font-size: 14px;
	color: #000;
	text-transform: uppercase;
}

.size-fit {
	font-size: 20px;
}


/* About */
.accordion-h {
	font-weight: 600;
}

.accordion-item-content {
	margin-top: 5px;
}

.accordion-item-content p {
	font-size: 14px;
}

.video-content iframe {
	width: 100%;
	height: auto;
	min-height: 250px;
}

.article-about {
	padding-top: 25px;
}

.article-about .accordion-item h4 {
	position: relative;
	margin: 0;
	padding: 10px 0 5px;
	border-bottom: 1px solid #bbb;
	cursor: pointer;
}

.article-about .accordion-item h4 i {
	position: absolute;
    right: 0;
    top: 30%;
}

.article-about  .accordion-item h4 i:before {
	content: "\f106";
}

.article-about  .accordion-item.closed h4 i:before {
	content: "\f107";
}

.article-about .accordion-item.closed .accordion-item-content {
	display: none;
}

@media (max-width: 767px) {
	.middle-content {
		padding-right: 40px;
	}
	
	.small-images {
		padding-left: 30px;
	}

	.article-info {
		padding-top: 20px;
	}

	.article-about .accordion-item {
		padding-right: 15px;
		padding-left: 15px;
	}

	.add-to-bag {
		width: 100%;
	}

	.shift-mobile-nav {
		display: block;
		position: absolute;
		font-size: 20px;
		z-index: 11;
	}

	.category-list {
		display: none;
		min-height: 20px;
		margin-top: 3px;
	}

	.category-list > li,
	.category-list > li:first-child {
		display: block;
		margin-left: 25px;
	}

	.category-list > li:hover > .sub-menu {
		display: none;
	}

	.category-list > li a {
	}

	.category-list > li a i:before,
	.category-list > li a:hover i:before {
		display: none;
	}

	.category-list > li > .sub-menu {
		display: none;
		position: relative;
		top: 0;
		padding: 0 20px 20px 20px;
		width: 100%;
		background-color: #fff;
		border: 0;
		z-index: 1;
	}

	.category-list .sub-menu-title {
		margin-top: 15px;
		border-bottom: 1px solid #b0b0b0;
		text-align: center;
		font-size: 13px;
		text-transform: uppercase;
	}

	.category-list .tree-lists {
		width: 400px;
	}

	.category-list .tree-lists .column {
		padding: 0;
		padding-right: 15px;
	}

	.category-list .tree-lists .column:last-child {
		padding-right: 0;
	}

	.category-list .two-column,
	.category-list .three-column {
		width: 100%;

		-moz-column-count: 2; /* Firefox */
		-webkit-column-count: 2; /* Safari and Chrome */
		column-count: 2;
	}
}

@media (max-width: 550px) {
	.acc-bag-container {
		position: absolute;
		right: 0;
		top: 0;
		width: 150px;
	}

	.navigation-box .top-nav {
		min-height: 85px;
		padding-top: 54px;
	}

	.middle-content {
		padding-right: 40px;
	}
	
	.small-images {
		padding-left: 30px;
	}
}

@media (max-width: 480px) {
	.article-info form {
		margin-left: 0;
	}
}

@media (max-width: 767px) and (min-width: 601px) {
	.small-images {
		width: 15%;
		margin-left: 20%;
	}

	.middle-content {
		width: 45%;
	}
}

@media (max-width: 600px) and (min-width: 501px) {
	.small-images {
		width: 20%;
		margin-left: 10%;
	}

	.middle-content {
		width: 55%;
	}
}

@media (max-width: 420px) {
	.small-images {
		padding-right: 0;
	}

	.small-images li .small-photo {
		width: 100%;
		max-height: 70px;
	}
}

@media (min-width: 768px) {
	.add-to-bag {
		margin-top: 20px;
	}
}